.hamburger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hamburger-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: transform 0.3s;
}

.hamburger-icon.open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
