.card {
    padding: 30px;
    border-radius: 8px;
    background-color: #f8f9fa;
  }
  
  h5 {
    color: #dc3545; /* Color rojo */
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    padding: 5px 0;
  }
  
  strong {
    font-weight: bold;
  }
  